@font-face{font-family:'Noto Sans KR';font-weight:400;src:url('NotoSansKR-400.ttf') format('truetype');}
@font-face{font-family:'Noto Sans KR';font-weight:500;src:url('NotoSansKR-500.ttf') format('truetype');}
@font-face{font-family:'Noto Sans KR';font-weight:700;src:url('NotoSansKR-700.ttf') format('truetype');}
@font-face{font-family:'Noto Sans KR';font-weight:900;src:url('NotoSansKR-900.ttf') format('truetype');}
@font-face{font-family:'Noto Serif KR';font-weight:500;src:url('NotoSerifKR-500.ttf') format('truetype');}
@font-face{font-family:'Noto Serif KR';font-weight:700;src:url('NotoSerifKR-700.ttf') format('truetype');}
@font-face{font-family:'Noto Serif KR';font-weight:900;src:url('NotoSerifKR-900.ttf') format('truetype');}
@font-face{font-family:'Noto Sans Mono';font-weight:400;src:url('NotoSansMono-400.ttf') format('truetype');}
@font-face{font-family:'Noto Sans Mono';font-weight:600;src:url('NotoSansMono-600.ttf') format('truetype');}